<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013548112695-trpphe64n31r2ao7g80eicreefljj21a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013548112695-trpphe64n31r2ao7g80eicreefljj21a</string>
	<key>API_KEY</key>
	<string>AIzaSyBs45Xfu7opuW9RtcGeOqL3BMyIV_j0KmI</string>
	<key>GCM_SENDER_ID</key>
	<string>1013548112695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStartup</string>
	<key>PROJECT_ID</key>
	<string>projeto-tai3</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-tai3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013548112695:ios:e19c03ed5ae639462358b2</string>
</dict>
</plist>